.title {
  text-align: center;
}

.content {
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content div {
  padding: 30px;
}

.content-input {
  text-align: left;
}

