<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Trabalho Final de Administração Financeira</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- Menu com tabs -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/conversao-de-juros">
          Conversão de Juros
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/wacc">
          WACC
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/portfolio-replicante">
          Portfolio Replicante
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/time-value-money">
          Time Value Money
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/custo-acoes-alavancadas">
          Custo Ações Alavancadas
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/capm">
          CAPM
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="container app-container">
  <router-outlet></router-outlet>
</div>
