<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Calculadora Financeira</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/capm">CAPM</a>
      <a class="dropdown-item" href="/wacc">WACC</a>
      <a class="dropdown-item" href="/conversao-de-juros">Conversão de Juros</a>
      <a class="dropdown-item" href="/portfolio-replicante">Portfolio Replicante</a>
      <a class="dropdown-item" href="/time-value-money">Time Value Money</a>
      <a class="dropdown-item" href="/custo-acoes-alavancadas">Custo Ações Alavancadas</a>
      <a class="dropdown-item" href="/calculo-juros">Calculo de Juros</a>
    </div>
  </div>

  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->

</nav>

<div class="container app-container">
  <router-outlet></router-outlet>
</div>

<footer
    class="footer"
    :class="{ [`footer-${type}`]: type }"
    :data-background-color="backgroundColor"
  >
    <div class="container">
      <div class="copyright">
          © 2021, feito com por
        <a href="https://github.com/EwertonDCSilv" rel="noreferrer noopener" target="_blank">Ewerton Silva</a>,
        <a href="https://github.com/" rel="noreferrer noopener" target="_blank">Jonas Trindade</a> e
        <a href="https://github.com/" rel="noreferrer noopener" target="_blank">Vitor Ribeiro</a>
      </div>
    </div>
  </footer>
