<div class="banner">
  <div class="banner-content">
    <h1>Calculadora Financeira Online</h1>
    <p>Faça seus calculos aqui! </p>
  </div>
</div>

<div class="home">


  <div class="descricao">
    <p>Navegue pelo menu superior para acessar os diferentes calculos.</p>
    <p>Esta é uma calculadora financeira com fórmulas que estudamos durante a disclina de administração financeira.
      O uso pode da plataforma pode ser realizado tanto por desktop ou aparelhos com o acesso a internet.</p>


  </div>

</div>

