.ufmg-logo {
  width: 500px;
  max-width: 100%;
  margin: 50px auto;
  display: block;
  margin-top: 100px;
}

.home {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
}

.home h1, h2 {
  text-align: center;
}

.autores {
  margin: 50px 0;
  text-align: center;
  font-weight: bold;
}

.descricao {
  margin-top: 50px;
}

.github-link {
  text-align: center;
}

.github-link img {
  width: 50px;
}
