.ufmg-logo {
  width: 500px;
  max-width: 100%;
  margin: 50px auto;
  display: block;
  margin-top: 100px;
}


.home {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
}

.home h1, h2 {
  text-align: center;
}


.autores {
  margin: 50px 0;
  text-align: center;
  font-weight: bold;
}

.descricao {
  margin-top: 50px;
  font-size: large;
}

.github-link {
  text-align: center;
}

.github-link img {
  width: 50px;
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/money.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 30px;
}

.banner-content {
  text-align: center;
  color: #FFFF;
}
